doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='style/style.css')
  link(href="https://fonts.googleapis.com/css?family=Rock+Salt&display=swap" rel="stylesheet")
  
  title Rain Game
  #app
    #canvas_container
    #gui
      | Time left: {{ timeLimit }}<br>
      | Fires extinguished: {{ firesExt }}<br>
      | Score: {{ score }}<br>
    #overlay(:class="inGame ? '' : 'shown'")
      #info
        h1.pe
          |Rain Game
        span.pe|(Opposites Challenge)<br>
        small.pe|You have 20 seconds. How many fires can You extinguish?
        p
          button(@click="startGame()")
            |GO
    #timeout(:class="[gameOver ? 'shown' : '', 'pe']")| Fires: {{firesExt}}  Score: {{score}}<br>
      button.pa(@click="restartGame()")
        |Again?
    
  script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.12.0/matter.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/addons/p5.dom.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js')
  script(src='sketch.js')
